* {
  box-sizing: border-box;
}
html {
  text-align: center;
  background-image: -webkit-linear-gradient(150deg, #ff0000 50%, #0000ff 50%);
  height: 100%;
  font-size: 16px;
}

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #fff;
  border-radius: 25px;
  font-family: SourceSansPro-SemiBold;
  font-size: 14px;
  color: #000;
  line-height: 1.2;
  text-transform: uppercase;
  border: none;
  box-shadow: #fff;
}
.confirm {
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
}
.confirm:after {
  border: none;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: row;
  width: 80vmin;
  margin: 20px auto;
  box-shadow: 4px 4px 6px var(--shadow-color);
}
